<div ng-cloack>

  <table class="overflow-y table-bordered" >
    <thead>
      <tr>
            <th>Sala\Hora</th>
            <th ng-repeat="time in eventTimes">
                  <strong class="text-center"><span ng-bind="time"></span></strong>
            </th>
      </tr>
    </thead>
    <tbody>

    <tr class="grid-row" style="cursor: pointer;"ng-repeat="room in rooms">          
            <th>
                <span ng-bind="room.name"></span>
            </th>

            <td ng-repeat="slot in slotsOfRoom[room.id]"
                ng-class="slot.status == 'confirmed' ? 'slot-confirmed' : 'slot-empty'"
                ng-click="zoomOnSlot(slot, $event)"
                class="grid-col"
                colspan="{{slot.duration / 20 }}">

                <div class="row-fluid" ng-show="slot.status != 'confirmed'">
                  <div class="col-sm-12 grid-cell-col grid-talk-title">
                    <span>
                      <i class="fa fa-times-circle" aria-hidden="true"></i>
                      <span>Sem palestra</span>
                    </span>
                  </div>
                </div>


                <div class="row-fluid header" ng-show="slot.status == 'confirmed'" >
                  <div class="col-sm-12 grid-cell-col grid-talk-title">
                    <span class="small">
                      <i class="fa fa-newspaper-o"></i>
                      <b><span ng-bind="slot.talk.title"></span></b>
                    </span>
                  </div>  
                </div>

                <div class="header-content" ng-show="slot.status == 'confirmed'">

                  <div class="row-fluid buttonBox" ng-show="slot.talk">
                     <div class="col-sm-12 grid-cell-col small">
                        <i class="fa fa-user"></i>
                        <b><span>{{slot.talk.owner | small_name }}</span></b>
                     </div>
                  </div>

                  <div class="row-fluid buttonBox" ng-show="slot.talk">
                    <div class="col-sm-12 grid-cell-col">
                      <small>
                        <span class="label label-default" 
                              ng-bind="slot.talk.track.split('-')[1].trim()"></span>
                      </small>
                    </div>
                  </div>

                  <div class="row-fluid buttonBox" ng-show="slot.talk">
                    <div class="col-sm-12 grid-cell-col">
                          <a class="small" href="{{ recording }}" target="_blank" ng-repeat="recording in slot.recordings">
                          <i class="fa fa-film" aria-hidden="true"></i>&nbsp;vídeo
                        </a>
                    </div>
                  </div>



                </div>

            </td>
        </tr>
    </tbody>    

  </table>


</div>